BR2_arm=y
BR2_cortex_a17=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_QT5=y
BR2_PACKAGE_QT5BASE_EXAMPLES=y
BR2_PACKAGE_QT5BASE_JPEG=y
BR2_PACKAGE_QT5MULTIMEDIA=y
BR2_PACKAGE_LIBID3TAG=y
BR2_PACKAGE_LEVELDB=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_GIFLIB=y
BR2_PACKAGE_IMLIB2=y
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_OPENJPEG=y
BR2_PACKAGE_TIFF=y
BR2_PACKAGE_ICU=y
BR2_PACKAGE_IO=y
BR2_PACKAGE_FILE=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_LZ4=y
